vcf_all/
vcf_output/
vcf_filtered/
reference/

scratch/
*.tmp
*.sra
*.bam
*.bai
*.sam
*.fastq

__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

logs/

tbprofiler_results/results
tbprofiler_results/vcf
tbprofiler_results/bam
tbprofiler_results/other_variants.csv

ml_outputs/step1_dataset/X_array.npy
ml_outputs/step1_dataset/X_features.csv

intermediate_data/

variant_metadata.csv